<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RFIDIntegratedApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <RFIDIntegratedApplication.Properties.Settings>
            <setting name="IP" serializeAs="String">
                <value/>
            </setting>
            <setting name="MAC" serializeAs="String">
                <value/>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value/>
            </setting>
        </RFIDIntegratedApplication.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IImpinjControlService" />
                <binding name="NetTcpBinding_IDmcControlService" />
                <binding name="NetTcpBinding_ICalculateService"  closeTimeout="00:09:00" openTimeout="00:00:05" receiveTimeout="00:09:00" sendTimeout="00:00:09"/>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:50003/ImpinjControlServiceEndPoint"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IImpinjControlService"
                contract="ServiceReference1.IImpinjControlService" name="NetTcpBinding_IImpinjControlService">
                <identity>
                    <userPrincipalName value="DINGFENG\FD" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:50002/DmcControlServiceEndPoint"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDmcControlService"
                contract="ServiceReference2.IDmcControlService" name="NetTcpBinding_IDmcControlService">
                <identity>
                    <userPrincipalName value="DINGFENG\FD" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:50004/CalculateServiceEndPoint"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICalculateService"
                contract="ServiceReference3.ICalculateService" name="NetTcpBinding_ICalculateService">
                <identity>
                    <userPrincipalName value="DINGFENG\FD" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
