<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ImpinjControlBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ImpinjControl.ImpinjControlService">
        <endpoint address="net.tcp://127.0.0.1:50003/ImpinjControlServiceEndPoint"
            binding="netTcpBinding" bindingConfiguration="" contract="ImpinjControl.IImpinjControlService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:50003/ImpinjControlServiceEndPoint" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>